@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
--dark-liver-horses: #4c372eff;
--alice-blue: #f5f9fcff;
--persian-orange: rgb(193, 164, 139);
--brown-sugar: #9d6848ff;
--ghost-white: #f9fbffff;
}

body {
    display: flex;
    flex-direction: row;
    color: var(--dark-liver-horses);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif var(--persian-orange);
    background-color: var(--persian-orange);
}
header{
    width: 50vw;
}
main {
    width: 50vw;
    background-image: url(../assets/dog-g90601f6b2_1920.jpg);
    background-size: cover;
}
img {
    width: 100%;
    border: 5px dotted var(--dark-liver-horses);
}

.dark-text {
    color: var(--dark-liver-horses);
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
    main,
    header {
        width: 100vw;
    }
    main {
        height: 50vw
    }
}